
<%= form_with(url: submit_quiz_quiz_path(@quiz), local: true, method: :post) do |form| %>
  <% @quiz.questions.each_with_index do |question, index| %>
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Question <%= index + 1 %></h5>
        <p class="card-text"><%= question.content %></p>
        
        <% if question.image.attached? %>
          <%= image_tag question.image, class: "img-fluid mb-3", style: "max-width: 40%; height: auto;" %>
        <% end %>
        
        <% 1.upto(3) do |answer_index| %>
          <div class="form-check">
            <%= form.radio_button "answers[#{question.id}]", answer_index, class: "form-check-input" %>
            <%= form.label "answers_#{question.id}_#{answer_index}", question.send("answer#{answer_index}"), class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <button class="btn btn-primary" type="submit">Valider mes réponses</button>
<% end %>

<div>
  <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
  <%= link_to "Back to quizzes", quizzes_path %> 
  <%= button_to "Destroy this quiz", @quiz, method: :delete %>
</div>